#container {
    background-color: #f51e1e;
    height: 1000px;
    display: flex;
    flex-direction: row;
    border: solid 3px rgb(107, 0, 0);
}
.item {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 20px;
}